$light-black: #1e1e1e;
$dark-black: #000;
$dark-50: #242424;

$light-orange: #ff6915;
$dark-orange: #fb5a00;

$blue: #3f71bc;

$white-50: #fff;
$white-75:#eaeaea;

$grey-50: #585858;
$grey-75: #494949;