@import '@/assets/style/variable';
@import '@/assets/style/media';
@import "@/components/Pages/main/receipts/ui/Receipts";

.publication{
  margin: 0 0 80px;
  &__prev,
  &__next {
    width: 40px;
    height: 14px;
    cursor: pointer;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }


  &__slide{
    height: 461px;

    @include media-breakpoint-down(sm){
      height: 387px;
    }
  }





  .swiper-slide{
    width: 670px;
    height: 461px;



    @include media-breakpoint-down(sm){
      width: 296px;
      height: 387px;
    }
  }

}




