
@font-face {
    font-family: 'Pragmatica';
    url('Pragmatica-Bold.woff2') format('woff2'),
    font-weight: bold;
    font-style: normal;
}


/*@font-face {*/
/*    font-family: 'Pragmatica';*/
/*    src: url('Pragmatica-Medium.eot');*/
/*    src: local('Pragmatica Medium'), local('Pragmatica-Medium'),*/
/*        url('Pragmatica-Medium.eot?#iefix') format('embedded-opentype'),*/
/*        url('Pragmatica-Medium.woff2') format('woff2'),*/
/*        url('Pragmatica-Medium.woff') format('woff'),*/
/*        url('Pragmatica-Medium.ttf') format('truetype');*/
/*    font-weight: 500;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Pragmatica';*/
/*    src: url('Pragmatica-Book.eot');*/
/*    src: local('Pragmatica Book'), local('Pragmatica-Book'),*/
/*        url('Pragmatica-Book.eot?#iefix') format('embedded-opentype'),*/
/*        url('Pragmatica-Book.woff2') format('woff2'),*/
/*        url('Pragmatica-Book.woff') format('woff'),*/
/*        url('Pragmatica-Book.ttf') format('truetype');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/


