@import '@/assets/style/variable';
@import '@/assets/style/media';
.receipts {
  margin-bottom: 115px;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;

    @include media-breakpoint-down(md) {
      margin-bottom: 33px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 39px;
    line-height: 128%;
    text-transform: uppercase;
    color: $dark-black;

    @include media-breakpoint-down(md) {
      font-size: 24px;
    }
  }

  &__arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 113px;
  }

  &__prev,
  &__next {
    width: 40px;
    height: 14px;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.swiper-slide {
  width: 440px;

  @include media-breakpoint-down(md) {
    width: 226px;
  }

  @include media-breakpoint-down(xs) {
    width: 158px;
  }
}