input {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px 20px;
  width: 100%;
  height: 60px;
  color: #000;

  &:focus{
    outline: none;
  }
}

.input-content {
  margin-bottom: 15px;
}

.input {
  &__error-text {
    max-width: fit-content;
    padding: 5px;
    margin: 5px 0;
    background: #a37272;
    border-radius: 10px;
  }

  &__error {
    border: 1px solid red;
  }

}
