@import '@/assets/style/media';

.product-card {
  margin-top: 100px;
  margin-bottom: 120px;
  @include media-breakpoint-down(sm) {
    margin-top: 54px;
  }


  &__right-name {
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 15px;
  }

  &__right-description {
    font-weight: 400;
    font-size: 15px;
    max-width: 640px;
    margin-bottom: 35px;
  }

  &__right-prices {
    display: flex;
    gap: 18px;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__price-old {
    font-weight: 400;
    font-size: 21px;
    text-decoration: line-through;
    color: #999;
  }

  &__price-new {
    font-weight: 400;
    font-size: 31px;
  }

  &__counter {
    max-width: 130px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #f4f4f4;
  }

  &__counter-minus, &__counter-plus {
    width: 32px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #999;
    border: 1px solid #f4f4f4;
  }

}