@import '@/assets/style/media';

.registration {
  margin-top: 100px;
  margin-bottom: 120px;
  @include media-breakpoint-down(sm) {
    margin-top: 54px;
  }

  &__title {
    font-family: 'Pragmatica', sans-serif;
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 42px;
    @include media-breakpoint-down(sm) {
      font-size: 25px;
      margin-bottom: 14px;
    }
  }

  &__form-wrapper {
    border: 1px solid #eaeaea;
    padding: 40px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    @include media-breakpoint-down(sm) {
      padding: 15px;
    }
    @media(max-width: 767px) {
      flex-direction: column;
      justify-content: center;
      gap: 100px;
    }
  }

  &__form-wrapper-left {
    min-width: 464px;

    @include media-breakpoint-down(md) {
      min-width: 250px;
    }

    label {
      font-family: 'Pragmatica', sans-serif;
      font-weight: 400;
      font-size: 15px;
      color: #000;
    }
  }

  &__button-registration,
  &__button-authorization {
    color: #fff;
    height: 65px;
    max-width: 464px;
    margin: 0 auto;
  }

  &__right {
    height: fit-content;
    position: relative;
    max-width: 563px;

    @include media-breakpoint-down(lg) {
      margin-top: 100px;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 53px;
    }
    @media(max-width: 767px) {
      margin: 0 auto;
    }

    &:after {
      position: absolute;
      content: '';
      top: 0;
      left: -120px;
      width: 1px;
      height: 100%;
      background-color: #eaeaea;

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    p {
      font-family: 'Pragmatica', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 175%;
      color: #515151;
      margin-bottom: 10px;
      @include media-breakpoint-down(lg) {
       text-align: center;
      }

      span {
        font-weight: 700;
      }
    }
  }

  &__right-title {
    position: relative;
    @include media-breakpoint-down(lg) {
      text-align: center;
    }

    svg {
      width: 40px;
      height: 47px;
      position: absolute;
      left: -74px;

      @include media-breakpoint-down(lg) {
        left: 50%;
        top: -30px;
        transform: translate(-50%, -50%);
      }
    }

    h2 {
      font-family: 'Pragmatica', sans-serif;
      font-weight: 500;
      font-size: 28px;
      margin-bottom: 38px;
    }
  }
}

.field {
  &__wrapper {
    margin-bottom: 15px;
    position: relative;

    @media(max-width: 420px) {
      max-width: 298px;
    }

    input {
      border: 1px solid #eaeaea;
    }

  }

  &__error {
    position: absolute;
    left: 0;
    bottom: -20px;
    font-family: "Pragmatica", sans-serif;
    font-weight: 400;
    font-size: 15px;
    background: #ff5151;
    width: 100%;
    padding: 0 20px;
    border-radius: 4px;
    color: #fff;
  }
}

.error {
  color: red;
}

.v-breadcrumbs {
  padding: 0;
  margin-top: 28px;
  margin-bottom: 28px;
  @include media-breakpoint-down(sm) {
    margin-bottom: 23px;
  }
}

.v-breadcrumbs-item {
  font-family: 'Pragmatica', sans-serif;
  font-weight: 400;
  font-size: 14px;
}