@import '@/assets/style/variable';
@import '@/assets/style/media';

.about{
  margin-bottom: 120px;
  position: relative;
  height: 600px;

  @include media-breakpoint-down(md){
    height: auto;
  }

  @include media-breakpoint-down(sm){
    margin-bottom: 80px;

  }

  &__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;

    @include media-breakpoint-down(md){
      grid-template-columns: repeat(1, 1fr);
  }}

  &__column{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 18px;
    max-width: 785px;
    width: 100%;


    @include media-breakpoint-down(md){
      margin-bottom: 20px;
    }
  }

  &__title{
    font-weight: 500;
    font-size: 39px;
    line-height: 128%;
    text-transform: uppercase;
    color: $dark-black;

    @include media-breakpoint-down(sm){
      font-size: 24px;
    }
  }

  &__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    color: #2e2e2e;

    span{
      font-weight: 700;
    }
  }

  &__link{
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    padding: 23px 45px;
    background: $light-black;
    width: 181px;
  }

  &__img{
    position: absolute;
    top: 0;
    right: 0;
    width: 813px;
    height: 600px;

    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @include media-breakpoint-down(l){
      position: static;
      width: 100%;
      height: 600px;
    }

    @include media-breakpoint-down(sm){
      position: static;
      width: 100%;
      height: auto;
    }
  }
}