@import '@/assets/style/media';
@import '@/assets/style/variable';

.not-found {
  margin-top: 100px;
  margin-bottom: 120px;
  @include media-breakpoint-down(sm) {
    margin-top: 54px;
  }

  &__content {
    display: flex;

    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
    }
  }

  &__content-left {
    width: 100%;
  }

  &__left-title {
    font-family: 'Pragmatica', sans-serif;
    font-weight: 500;
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom: 42px;
    @include media-breakpoint-down(sm) {
      font-size: 25px;
      margin-bottom: 14px;
    }

    span {
      position: relative;

      &:after {
        position: absolute;
        content: "";
        top: 50%;
        left: 200px;
        width: 123px;
        height: 2px;
        background: $dark-black;

        @include media-breakpoint-down(sm) {
          left: 120px;
        }
      }
    }
  }

  &__left-text {
    font-weight: 400;
    font-size: 18px;
    color: #292929;
    margin-bottom: 20px;
  }

  &__left-button {
    color: #fff;
    height: 65px;
    max-width: 245px;
  }

  &__content-right {
    max-width: 800px;
    width: 100%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}